.venv
.pytest_cache
Notebooks
OutputFiles
reports_excel
reports_pdf
reports_txt
*.pkl
.idea/*
page.joblib
page.txt
*/__pycache__/*
.scanner*
gecko*
logfile*
crawler_backup.py
data/financial_db*
nohup.out
selenium*
reports_adoc
data/*.json