absl-py==1.0.0
adal==1.2.7
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aiohttp-socks==0.7.1
aioredis==1.3.1
aioresponses==0.7.3
aiorpcX==0.22.1
aiosignal==1.2.0
aiounittest==1.3.0
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
anaconda-client @ file:///tmp/build/80754af9/anaconda-client_1635342557008/work
anaconda-navigator==2.1.1
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1626085644852/work
anyio @ file:///tmp/build/80754af9/anyio_1617783277988/work/dist
appdirs==1.4.4
applicationinsights==0.11.9
argh==0.26.2
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1613037499734/work
arrow @ file:///tmp/build/80754af9/arrow_1617737686940/work
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astor==0.8.1
astroid @ file:///tmp/build/80754af9/astroid_1628063140030/work
astropy @ file:///tmp/build/80754af9/astropy_1629820331715/work
astunparse==1.6.3
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
async-timeout==3.0.1
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
autopep8==1.6.0
azure==4.0.0
azure-applicationinsights==0.1.0
azure-batch==4.1.3
azure-cognitiveservices-language-luis==0.2.0
azure-common==1.1.27
azure-core==1.23.0
azure-cosmos==3.2.0
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-datalake-store==0.0.52
azure-devtools==1.2.0
azure-eventgrid==1.3.0
azure-functions==1.9.0
azure-graphrbac==0.40.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.1
azure-mgmt==4.0.0
azure-mgmt-advisor==1.0.1
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.50.0
azure-mgmt-batch==5.0.1
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-cdn==3.1.0
azure-mgmt-cognitiveservices==3.0.0
azure-mgmt-commerce==1.0.1
azure-mgmt-compute==4.6.2
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-containerservice==4.4.0
azure-mgmt-cosmosdb==0.4.1
azure-mgmt-datafactory==0.6.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==1.0.0
azure-mgmt-devspaces==0.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==1.0.0
azure-mgmt-eventhub==2.6.0
azure-mgmt-hanaonazure==0.1.1
azure-mgmt-iotcentral==0.1.0
azure-mgmt-iothub==0.5.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-logic==3.0.0
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-managementgroups==0.1.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-media==1.0.1
azure-mgmt-monitor==0.5.2
azure-mgmt-msi==0.2.0
azure-mgmt-network==2.7.0
azure-mgmt-notificationhubs==2.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.1.0
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-rdbms==1.9.0
azure-mgmt-recoveryservices==0.3.0
azure-mgmt-recoveryservicesbackup==0.3.0
azure-mgmt-redis==5.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.2.1
azure-mgmt-resource==2.2.0
azure-mgmt-scheduler==2.0.0
azure-mgmt-search==2.1.0
azure-mgmt-servicebus==0.5.3
azure-mgmt-servicefabric==0.2.0
azure-mgmt-signalr==0.1.1
azure-mgmt-sql==0.9.1
azure-mgmt-storage==2.0.0
azure-mgmt-subscription==0.2.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.35.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicefabric==6.3.0.0
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==12.7.0
azure-storage-common==1.4.2
azure-storage-file==1.4.0
azure-storage-file-share==12.7.0
azure-storage-queue==12.1.5
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bitarray @ file:///tmp/build/80754af9/bitarray_1629132848682/work
bitstring==3.1.9
bkcharts==0.2
black==19.10b0
bleach @ file:///tmp/build/80754af9/bleach_1628110601003/work
blessed==1.19.1
bokeh @ file:///tmp/build/80754af9/bokeh_1635312808503/work
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_adapters_slack&subdirectory=libraries/botbuilder-adapters-slack
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_ai&subdirectory=libraries/botbuilder-ai
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_applicationinsights&subdirectory=libraries/botbuilder-applicationinsights
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_azure&subdirectory=libraries/botbuilder-azure
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_core&subdirectory=libraries/botbuilder-core
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_dialogs&subdirectory=libraries/botbuilder-dialogs
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_integration_aiohttp&subdirectory=libraries/botbuilder-integration-aiohttp
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_integration_applicationinsights_aiohttp&subdirectory=libraries/botbuilder-integration-applicationinsights-aiohttp
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_schema&subdirectory=libraries/botbuilder-schema
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botbuilder_testing&subdirectory=libraries/botbuilder-testing
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botframework_connector&subdirectory=libraries/botframework-connector
-e git+https://github.com/Microsoft/botbuilder-python.git@92bd48214db6f47fc2c11bc4ed956e01aa6c5eac#egg=botframework_streaming&subdirectory=libraries/botframework-streaming
boto==2.49.0
boto3 @ file:///tmp/build/80754af9/boto3_1629142476879/work
botocore @ file:///tmp/build/80754af9/botocore_1633531073272/work
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1607575130224/work
brotlipy==0.7.0
bz2file==0.98
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools==4.2.4
certifi==2021.10.8
cffi @ file:///tmp/build/80754af9/cffi_1625814692085/work
chardet @ file:///tmp/build/80754af9/chardet_1607706775000/work
charset-normalizer==2.0.10
click==8.0.3
click-default-group==1.2.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
cloup==0.7.1
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorful==0.5.4
colour==0.1.5
commonmark==0.9.1
conda==4.11.0
conda-build==3.21.5
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262147379/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
ConfigArgParse==1.5.3
contextlib2 @ file:///Users/ktietz/demo/mc3/conda-bld/contextlib2_1630668244042/work
cookiecutter @ file:///tmp/build/80754af9/cookiecutter_1617748928239/work
coverage==6.2
cryptography @ file:///tmp/build/80754af9/cryptography_1633520369886/work
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1636035166688/work
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
datedelta==1.4
ddt==1.2.1
debugpy @ file:///tmp/build/80754af9/debugpy_1629214122703/work
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.13
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill==0.3.4
distributed @ file:///tmp/build/80754af9/distributed_1635956221111/work
Django==2.2.24
djangorestframework==3.10.3
dnspython==2.2.1
docutils @ file:///tmp/build/80754af9/docutils_1620827980776/work
Electrum @ file:///home/romain/T%C3%A9l%C3%A9chargements/Electrum-4.2.1.tar.gz
emoji==1.7.0
entrypoints==0.3
et-xmlfile==1.1.0
fastcache @ file:///tmp/build/80754af9/fastcache_1607571273717/work
fasttext==0.9.2
filelock @ file:///tmp/build/80754af9/filelock_1635402558181/work
flake8==4.0.1
Flask==1.1.1
flatbuffers==2.0
fonttools==4.25.0
frozenlist==1.3.0
fsspec @ file:///tmp/build/80754af9/fsspec_1632413898837/work
future @ file:///tmp/build/80754af9/future_1607571303524/work
gast==0.4.0
gensim @ file:///tmp/build/80754af9/gensim_1613994458373/work
gevent @ file:///tmp/build/80754af9/gevent_1628273270105/work
glcontext==2.3.4
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2==2.0.8
google-api-core==2.5.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.55.0
gpustat==1.0.0b1
grapheme==0.6.0
greenlet @ file:///tmp/build/80754af9/greenlet_1628888132713/work
grpcio==1.43.0
h5py==3.6.0
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
hiredis==2.0.0
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
idna==2.10
imagecodecs @ file:///tmp/build/80754af9/imagecodecs_1635529108216/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imagesize @ file:///Users/ktietz/demo/mc3/conda-bld/imagesize_1628863108022/work
implicit==0.5.2
importlib-metadata==4.10.1
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.9.1
ipython @ file:///tmp/build/80754af9/ipython_1635944169458/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isodate==0.6.1
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
isosurfaces==0.1.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi @ file:///tmp/build/80754af9/jedi_1611333729159/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish==0.9.0
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
jinja2-time @ file:///tmp/build/80754af9/jinja2-time_1617751524098/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpickle==1.4.2
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter @ file:///tmp/build/80754af9/jupyter_1607700846274/work
jupyter-client==7.1.2
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1633420104186/work
jupyter-server @ file:///tmp/build/80754af9/jupyter_server_1616084066671/work
jupyterlab @ file:///tmp/build/80754af9/jupyterlab_1635799997693/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1633419203660/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
keras==2.7.0
Keras-Preprocessing==1.1.2
keras-tuner==1.1.0
keyring @ file:///tmp/build/80754af9/keyring_1629321552962/work
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612281846643/work
kt-legacy==1.0.4
lazy-object-proxy @ file:///tmp/build/80754af9/lazy-object-proxy_1616529027849/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libclang==12.0.0
llvmlite==0.37.0
locket==0.2.1
lxml @ file:///tmp/build/80754af9/lxml_1616443220035/work
manim==0.14.0
ManimPango==0.4.0.post2
mapbox-earcut==0.12.11
Markdown==3.3.6
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1607027305082/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1634667019719/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
mdx-truly-sane-lists==1.2
memory-profiler==0.60.0
mistune @ file:///tmp/build/80754af9/mistune_1607364877025/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
moderngl==5.6.4
moderngl-window==2.4.1
modin==0.13.2
modin-spreadsheet==0.1.2
more-itertools @ file:///tmp/build/80754af9/more-itertools_1635423142362/work
mpmath==1.2.1
msal==1.6.0
msgpack @ file:///tmp/build/80754af9/msgpack-python_1612287166301/work
msrest==0.6.19
msrestazure==0.6.4
multidict==6.0.2
multipledispatch @ file:///tmp/build/80754af9/multipledispatch_1607574243360/work
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic @ file:///tmp/build/80754af9/nbclassic_1616085367084/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1624472883256/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///tmp/build/80754af9/networkx_1633639043937/work
nltk==3.6.5
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook @ file:///tmp/build/80754af9/notebook_1635411643303/work
ntlm-auth==1.5.0
numba @ file:///tmp/build/80754af9/numba_1635174338764/work
numexpr @ file:///tmp/build/80754af9/numexpr_1618856529730/work
numpy==1.22.1
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencensus==0.8.0
opencensus-context==0.1.2
opencv-contrib-python-headless==4.5.5.62
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
opt-einsum==3.3.0
packaging @ file:///tmp/build/80754af9/packaging_1625611678980/work
pandas==1.4.0
pandocfilters @ file:///tmp/build/80754af9/pandocfilters_1605120906940/work
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
partd @ file:///tmp/build/80754af9/partd_1618000087440/work
path @ file:///tmp/build/80754af9/path_1623603407737/work
pathlib==1.0.1
pathlib2 @ file:///tmp/build/80754af9/pathlib2_1625585682511/work
pathspec==0.7.0
patsy==0.5.2
pbr==5.8.1
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
pkginfo==1.7.1
pluggy @ file:///tmp/build/80754af9/pluggy_1615976318790/work
plumbum==1.7.2
ply==3.11
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1623189609245/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.3
psutil @ file:///tmp/build/80754af9/psutil_1612297992929/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
py-spy==0.3.11
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.0
pycairo==1.20.1
pycodestyle==2.8.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.44.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1621600989141/work
pydub==0.25.1
pyerfa @ file:///tmp/build/80754af9/pyerfa_1621556109336/work
pyflakes==2.4.0
pyglet==1.5.21
Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
PyJWT==1.7.1
pylint @ file:///tmp/build/80754af9/pylint_1627536788603/work
pyls-spyder==0.4.0
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
PyQt5==5.12.3
PyQt5-sip==12.9.1
PyQtWebEngine==5.12.1
pyrr==0.10.3
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110951836/work
pyslack==0.5.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==3.0.0
python-constraint==1.4.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-lsp-black @ file:///tmp/build/80754af9/python-lsp-black_1634232156041/work
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.3.3
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-socks==2.0.3
pytz==2021.3
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1607645421828/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1628275385016/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qiskit==0.35.0
qiskit-aer==0.10.3
qiskit-ibmq-provider==0.18.3
qiskit-ignis==0.7.0
qiskit-terra==0.20.0
qrcode==7.3.1
qstylizer @ file:///tmp/build/80754af9/qstylizer_1617713584600/work/dist/qstylizer-0.1.10-py2.py3-none-any.whl
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1615991616277/work
qtconsole==5.2.2
QtPy @ file:///tmp/build/80754af9/qtpy_1629397026935/work
ray==1.10.0
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
redis==4.1.4
regex==2019.8.19
requests==2.25.1
requests-mock==1.9.3
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
retworkx==0.11.0
rich==11.2.0
rope @ file:///tmp/build/80754af9/rope_1623703006312/work
rpyc==4.1.5
rsa==4.8
Rtree @ file:///tmp/build/80754af9/rtree_1618420843093/work
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1626435152308/work
scikit-image==0.18.3
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1621370406642/work
scikit-learn-intelex==2021.20210714.170444
scikit-surprise==1.1.1
scipy @ file:///tmp/build/80754af9/scipy_1630606796912/work
screeninfo==0.6.7
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
SecretStorage @ file:///tmp/build/80754af9/secretstorage_1614022780358/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1629321204894/work
sip==4.19.13
six==1.16.0
skia-pathops==0.7.2
slackclient==2.9.3
smart-open==1.9.0
sniffio @ file:///tmp/build/80754af9/sniffio_1614030464178/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1611258885636/work
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
Sphinx==3.0.4
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder==5.2.2
spyder-kernels==2.2.1
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1626947882125/work
sqlparse==0.4.2
srt==3.5.1
statsmodels @ file:///tmp/build/80754af9/statsmodels_1614022848006/work
stevedore==3.5.0
surprise==0.1
symengine==0.9.2
sympy @ file:///tmp/build/80754af9/sympy_1635237064765/work
tables @ file:///tmp/build/80754af9/pytables_1607975397488/work
TBB==0.2
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-docs==0.0.0.dev0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tinycss @ file:///tmp/build/80754af9/tinycss_1617713798712/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.0
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
tornado @ file:///tmp/build/80754af9/tornado_1606942317143/work
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
traitlets @ file:///tmp/build/80754af9/traitlets_1632522747050/work
tweedledum==1.1.1
typed-ast @ file:///tmp/build/80754af9/typed-ast_1624953673314/work
typing_extensions==4.0.1
ujson @ file:///tmp/build/80754af9/ujson_1611259520328/work
unicodecsv==0.14.1
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3==1.26.8
vcrpy==4.1.1
watchdog @ file:///tmp/build/80754af9/watchdog_1624954998138/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.0.2
whichcraft @ file:///tmp/build/80754af9/whichcraft_1617751293875/work
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1607531506226/work
wordcloud==1.8.1
wrapt==1.12.1
wurlitzer @ file:///tmp/build/80754af9/wurlitzer_1626947795674/work
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1628603415431/work
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl==1.4.2
zict==2.0.0
zipp==3.7.0
zope.event==4.5.0
zope.interface @ file:///tmp/build/80754af9/zope.interface_1625036153595/work
